@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #cc0e0e;
        margin: 0;
        padding: 0;
        max-width: 100vw;
    }
    .corpo{
        width: 100%;
    }
    .navegacaoDesktop {
        display: none;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        width: 100vw;
        background-color: #cc0e0e;
        padding: 20px;
        text-align: center;
        font-family: 'Arial', sans-serif;
    }

    .navegacaoMobile{
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
        width: 80vw;
        height: 100vh;
        background-color: #cc0e0e;
        text-align: center;
        font-family: 'Arial', sans-serif;
    }

    .navegacaoMobile ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .navegacaoMobile ul li{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 20px 0; 
    }

    .navegacaoMobile ul li a{
        display: flex;
        justify-content: center;
        padding: 30px; 
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        text-shadow:#343a40;
    }

    .btnFecharMenu{
        display: flex;
        position: fixed;
        left: 20%;
        top: 0;
        width: 28px;
        margin: 20px;
        color: #fff;
    }

    .btnAbrirMenu {
        display: flex;
        position: relative;
        right: 1%;
        top: 0;
        width: 40px;
        height: 40px;
        margin: 20px;
        color: #fff;
    }

    a{
        text-decoration: none;
    }

    .logo {
        height: 80px;
        width: auto;
        border-radius: 50%;
        margin: 2%;
        
    }

    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid #dee2e6;
        max-width: 100vw;
    }
    .navegacao a {
        text-decoration: none;
        color: #fffb05;
        font-size: 22px;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        text-shadow:#343a40;
    }


    h1 {
        font-size: 34px;
        text-align: center;
        color: #ffff;
        font-family: 'Arial', sans-serif;
        margin-top: 20px;
    }



    h2{
        font-size: 30px;
        text-align: center;
        color: #ffff;
        font-family: 'Arial', sans-serif;
        margin-top: 20px;
    }

    /* Container principal do carrossel */

    .areaCarrossel{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .carrossel {
        position: relative;
        left: 0;
        right: 0;
        margin: 10px;
        width: 89vw;       /* largura responsiva */
        margin-top: 20px;         
        max-width: 1080px;     /* limite máximo */
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }

    /* Faixa com as imagens lado a lado */
    .slides {
        width: 100vw;
        display: flex;
        transition: transform 0.4s ease-in-out;
        flex: 0 0 100%; /* Cada slide ocupa 100% da largura do container */
    }

    /* Cada imagem ocupa o tamanho do carrossel */
    .slides img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    /* Botões de navegação */
    #btnProximo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 1rem;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        z-index: 10;
    }
    /* Botões de navegação */
    #btnAnterior {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 1rem;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        z-index: 10;
    }

    .anterior { left: 10px; }
    .proximo { right: 10px; }

    #btnAnterior:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    #btnProximo:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    p{
        text-align: center;
        color: #000;
        font-family: 'Arial', sans-serif;
        margin: 10px 20px;
    }


    .ofertas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin: 10px;   
    }

    #area-itens-oferta{
        display: flex;
        padding-top: 5%;
        padding-bottom: 5%;
        justify-content: center;
        align-items: center;
        border: 2px solid #dee2e6;
        background-color: #ffffffcd;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .oferta-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid #6d6a6a;
        border-radius: 10px;
        background: #fff;
        margin: 10px;
    }

    .btnEntrarNoGrupoDoWhats{
        background: rgb(59, 255, 59);
        width: 190px;
        font-size: 18px;
        margin: 10px;
        padding: 8px;
        border-radius: 15px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }

    .oferta-item img{
        width: 30%;
        height: auto;
    }

    .listaMarcas{
        padding: 0;
        width: 90%;
        margin: 5%;
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 60px;
        border-bottom: 2pix solid #fff;
    }

    .imigMarcas{
        width: 110px;
        margin: 5px;
        border-radius: 50%;
    }

    .formContato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        padding-bottom: 15px;
        border-bottom: 2px solid #fff;
    }

    .formContato label{
        text-align: center;
        color: #fff;
    }

    .formContato input{
        width: 80vw;
        height: 40px;
        border-radius: 10px;
    }

    .formContato textarea{
        width: 80vw;
        border-radius: 10px;
        height: 60px;
    }

    .btnEnviarForm {
        font-size: 22px;
        width: 120px;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        color: #fff;
        background-color: green;
    }

    .nossaHistoria{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
        text-align: center;
        background-color: #fff;
        width: 90vw;
        border-radius: 30px;
    }

    .nossaHistoria h2{
        color: black;
    }

    .divHistoria{
        width: 90vw;
        margin: 2;
        padding: 2px;
        font-size: 20px;
        text-align: center;
    }

    .pFooter{
        text-align: center;
        color: #fff;
        font-size: 14px;
    }


}