
.navegacao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    width: 100vw;
    background-color: #f30707;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    
}

.logo {
    height: 120px;
    width: auto;
    border-radius: 50%;
    margin: 2%;
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #dee2e6;
}
.navegacao a {
    text-decoration: none;
    color: #fffb05;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-shadow:#343a40;
}


h1 {
    font-size: 34px;
    text-align: center;
    color: #ffff;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

.subTitulo{
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

h2{
    font-size: 30px;
    text-align: center;
    color: #ffff;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

/* Container principal do carrossel */
.carrossel {
    position: relative;
    left: 12%;
    right: 12%;
    width: 100%;       /* largura responsiva */
    min-height: 100%;      /* altura responsiva */
    margin-top: 20px;         
    max-width: 1000px;     /* limite máximo */
    aspect-ratio: 2 / 1;  /* mantém proporção (800x400) */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* Faixa com as imagens lado a lado */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Cada imagem ocupa o tamanho do carrossel */
.slides img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

/* Botões de navegação */
#btnProximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}
/* Botões de navegação */
#btnAnterior {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.anterior { left: 10px; }
.proximo { right: 10px; }

#btnAnterior:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#btnProximo:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

p{
    text-align: center;
    color: #000;
    font-family: 'Arial', sans-serif;
    margin: 10px 20px;
}

body {
    background-color: #f30707;
    margin: 0;
    padding: 0;
}

.ofertas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#area-itens-oferta{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dee2e6;
    background-color: #ffffffcd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
    flex-wrap: wrap;
    gap: 20px;
}

.oferta-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #6d6a6a;
    border-radius: 10px;
    background: #fff;
}

.listaMarcas{
    padding-top: 30px;
    max-width: 95vw;
    display: flex;
    gap: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
    border-bottom: 2pix solid #fff;
}

.imigMarcas{
    width: 150px;
    margin: 5px;
    border-radius: 50%;
}

.formContato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10ox;
    gap: 10px;
    margin: 30px;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #fff;
}

.formContato label{
    text-align: center;
    color: #fff;
}

.formContato input{
    width: 60vw;
    height: 40px;
    border-radius: 10px;
}

.formContato textarea{
    width: 60vw;
    border-radius: 10px;
    height: 60px;
}

.btnEnviarForm {
    font-size: 22px;
    width: 120px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: #fff;
    background-color: green;
}

.nossaHistoria{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 30px;
    text-align: center;
    background-color: #fff;
    width: 90vw;
    border-radius: 30px;
}

.divHistoria{
    font-size: 22px;
}

.pFooter{
    text-align: center;
    color: #fff;
}


